@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

$baseColor: #ffda91;
$recipeHeading: #FFEC91;

body {
  background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&w=2880&fit=max&s=46a85a1451e47aea5152ade8299f2894);
}

.text-primary {
  color: #ffd281;
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
  text-shadow: #0f0f0f 10px 10px 10px;
}

.well {
  background: #71283C linear-gradient(#71283C, #8e324b, #71283C);
  border: 1px solid #565656;

  h4.panel-title {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    a {
      outline: 0;

      &:hover {
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }
}

.panel{
  background: #EAD7B7 linear-gradient(#EAD7B7, #fbe7c5, #EAD7B7);
  border: 1px solid #6a1c34;
}

.list-group {
  .list-group-item {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    background: #fbffe3;
  }
}

