@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&w=2880&fit=max&s=46a85a1451e47aea5152ade8299f2894);
}

.text-primary {
  color: #ffcc00;
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
  text-shadow: #0f0f0f 10px 10px 10px;
}

.well {
  background: #ffda91 linear-gradient(#ffda91, #ffd677, #f3ca76);
  border: 1px solid #565656;

  #recipeList {
    padding-left: 0;
    list-style: none;

    li {
      font-family: 'Indie Flower', cursive;
      font-size: 1.5em;

      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
